@font-face {
    font-family: "AtyanDsegh";
    src: url("./font/Montserratarm-Regular.otf") format("truetype");
}

@font-face {
    font-family: "AtyanDsegh1";
    src: url("./font/Montserratarm-Thin.otf") format("truetype");
}

@font-face {
    font-family: "AtyanDsegh2";
    src: url("./font/Montserratarm-Light.otf") format("truetype");
}

@font-face {
    font-family: "AtyanDsegh3";
    src: url("./font/Montserratarm-SemiBold.otf") format("truetype");
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f0f0f;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    display: block;
}
header{
    background-color: #0f0f0f;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8vw 3vw 0.3vw 3vw;
    z-index: 1000;
    transition:0.3s ease;
}
nav.sovorakan{
    background: transparent;
    backdrop-filter: none;
}
nav.apaki{
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.3);
}
nav.pahel{
    transform: translateY(-100%);
}
#verev{
    background: none;
    border: none;
}
.verevi-logo{
    width: 6vw;
    height: auto;
    cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3vw;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: #eaeaea;
    font-family: "AtyanDsegh1";
    font-size:1.2vw;
    font-weight: 900;
}
nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.39vw;
    width: 100%;
    height: 0.16vw;
    border-radius: 999px;
    background-color: #f02d06;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.35s ease;
}
nav ul li a:hover::after{
    transform: scaleX(1);
}
nav ul li a img{
     width: 1.6vw;
}
#burger{
    width: 6vw;
    display: none;
}
#join{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 2.4vw;
    border-radius: 999px;
    border: 0.2vw solid #eaeaea;
    color: #eaeaea;
    text-decoration: none;
    background: transparent;
    font-family: "AtyanDsegh1";
    font-size: 1vw;
    transition: 0.3s ease;
    font-weight: 900;
}
#join:hover{
    border-color: #f02d06;
}
#join svg{
    width: 2vw;
    margin-right: 0.2vw;
}
#popup,
#popup2{
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.3);
    z-index: 5000;
    padding: 1.1vw;
}
#popup.cuyc,
#popup2.cuyc{
    display: flex;
}
#popup-content,
#popup2-content{
    font-size: 1vw;
    width:25vw;
    padding: 1.1vw;
    border-radius: 1.1vw;
    background: rgba(24,24,24,0.56);
    box-shadow: 0 0 2rem 0.1rem ;
}
#popup-content h2,
#popup2-content h2{
    font-size: 2vw;
    text-align: center;
    color: #f02d06;
    margin-bottom: 1vw;
    font-family: "AtyanDsegh2";
}
#popup-content input{
    font-size: 1.2vw;
    width: 100%;
    margin-top: 0.6vw;
    padding: 0.5vw 0.8vw;
    border-radius: 0.6vw;
    border: 2px solid #f02d06;
    background: rgba(240,45,6,0.15);
    color: #eaeaea;
    outline: none;
    transition: 0.3s ease;
}
#popup-content input:focus{
    border-color: #ff6905;
    background: rgba(255,255,255,0.08);
}
#mtnelu p,
#grancvelu p{
    color: #eaeaea;
    font-size: 0.8vw;
    margin-top: 0.8vw;
    font-family: "AtyanDsegh";
}
#popup-content>div>div>button,
#popup2-content>div>button{
    font-size: 1vw;
    cursor: pointer;
    margin-top: 1.1vw;
    width: 8.8vw;
    height: 2.2vw;
    border: 0.2vw solid #f02d06;
    border-radius: 999px;
    background: rgba(240,45,6,0.15);
    color: #eaeaea;
    display: flex;
    justify-content: center;align-items: center;
    transition: 0.3s ease;
}
.kojak{
    display: flex;
    justify-content: center;
}
#popup2-content h2{
    font-size: 1.4vw;
}
#popup2-content>div{
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#popup-content>div>p>button{
    font-size: 1vw;
    cursor: pointer;
    border: none;
    background:none;
    color: #f02d06;
    transition: 0.3s ease;
    font-family: "AtyanDsegh3";
}
#popup-content>div>div>button:hover,
#popup2-content button:hover{
    background: #f02d06;
}
#popup-content>div>p>button:hover,
#popup2-content>div>button:hover{
    color: #eaeaea;
    transform: scale(1.02);
}
#pakel,
#popup2-content span{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: #eaeaea;
    font-size: 1.6vw;
}
#popup-alert{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-family: "AtyanDsegh";
    color: #eaeaea;
}
#popup-alert img{
    width: 3vw;
    height: 3vw;
}
#popup button:active,
#popup2 button:active{
    transform: scale(0.9);
}
.df{
    display: grid;
}
small{
    color: red;
    font-size: 0.8vw;
    padding-top: 0.2vw;
    font-family: "AtyanDsegh";
}
.navi-tak{
    height: 37vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 3rem;
}
#kofener,
#chayer,
#seter,
#mer-masin,
#contact-us{
    width: 100%;
    height: 100%;
    padding: 3vh 3vw;
    color: #eaeaea;
    background-color: #0f0f0f;
    font-family: "AtyanDsegh1";
}
main section h2{
    text-align: center;
    font-size: 3.5vw;
    color: #eaeaea;
    margin-bottom:2%;
}
.esim{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.qarter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.arajin-qart{
    width: 100%;
    border-radius: 1.5vw;
    border: 0.15vw solid rgb(117,43,0);
    transition: 0.3s ease;
}
.arajin-qart:hover{
    transform: translateY(-0.3rem) scale(1.02);
    border-color: #f02d06;
    box-shadow: 0 0 2rem rgba(240,45,6,0.5);
}
.gifik{
    width: 100%;
    border-radius: 1.5vw;
    border: 0.15vw solid rgb(117,43,0);
    transition: 0.3s ease;
}
.gifik:hover{
    border-color: #f02d06;
    box-shadow: 0 0 2rem rgba(240,45,6,0.5);
}
#seter a{
    text-decoration: none;
}
#seter{
    display: grid;
    grid-template-columns: 1fr;
}
.arajin-set{
    background-image: url(./VITA/Gemini_Generated_Image_8vzt2v8vzt2v8vzt.jpg);
    background-size: cover;
    aspect-ratio: 1663/640;
    border-radius: 1.5vw;
    border: 0.15vw solid rgb(117,43,0);
    padding: 2vw;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1.3fr;
    grid-template-rows: 0.6fr auto;
    transition: 0.3s ease;
    margin-bottom: 2vw;
}
.erkrord-set{
    background-image: url(./VITA/Gemini_Generated_Image_2j5wdb2j5wdb2j5w.jpg);
    background-size: cover;
    aspect-ratio: 1663/640;
    border-radius: 1.5vw;
    border: 2px solid rgb(117,43,0);
    padding: 2vw;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1.4fr;
    grid-template-rows: 0.6fr auto;
    transition: 0.3s ease;
}
.vernagir{
    text-align: center;
    grid-column: 1 / span 3;
}
.arajin-set1>ul>li{
    font-size: 2.5vw;
    margin: 5% 0;
}
.arajin-set:hover,
.erkrord-set:hover{
    transform: translateY(-0.3rem);
    border-color: #f02d06;
    box-shadow: 0 0 2rem rgba(240,45,6,0.5);
}
.arajin-set1{
    color: #eaeaea;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-family: "AtyanDsegh2";
}
#mer-masin{
    display: grid;
    grid-template-columns: 1fr;
}
.mer-masin1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}
.taki-text h3,
.taki-qart h3{
    text-align: center;
    font-size: 2vw;
}
.taki-text p{
    font-size: 1.3vw;
    line-height: 1.55;
    padding: 0 1.1vw;
}
.taki-text{
    display: grid;
}
.taki-qart{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vw;
}
.taki-qart1,
.taki-qart2,
.taki-qart3{
    background-image: url(./VITA/Без\ названия\ \(6\).jpg);
    border-radius: 1vw;
    border: 0.15vw solid rgb(117,43,0);
    background-size: cover;
    text-align: center;
    padding: 0.2vw;
    overflow: hidden;
    transition: 0.3s ease;
    cursor: default;
}
.taki-qart1:hover,
.taki-qart2:hover,
.taki-qart3:hover{
    border-color: #f02d06;
    box-shadow: 0 0 1.5rem rgba(240,45,6,0.5);
}
.taki-qart h4{
    font-size: 3vw;
    font-family: "AtyanDsegh3";
    transition: 0.4s ease;
    transform: translateY(2.2vw);
}
.taki-qart p{
    opacity: 0;
    transform: translateY(5vw);
    transition: 0.4s ease;
    font-size: 1.1vw;
    font-family: "AtyanDsegh2";
}
.taki-qart1:hover p,
.taki-qart2:hover p,
.taki-qart3:hover p{
    opacity: 1;
    transform: translateY(-0.5vw);
}
.taki-qart1:hover h4,
.taki-qart2:hover h4,
.taki-qart3:hover h4{
    transform: translateY(0) scale(0.5);
}
#contact-us{
    width: 100%;
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    color: #EAEAEA;
}
.vernagir{
    grid-column: 1/ span 3;
    text-align: center;
}
.mail-anel{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 2vw;
    align-items: stretch;
    border: 0.15vw solid rgb(117,43,0);
    border-radius: 1.7vw;
    padding: 2.2vw;
    backdrop-filter: blur(10px);
    box-shadow:0 0 2vw rgba(0,0,0,0.5),
    inset 0 0 1vw rgba(255,255,255,0.03);
}
.mail-anel-vrenagrer{
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1.2fr 0.8fr;
    justify-content: space-around;
}
.mail-anel h3,
.qartez h3{
    font-size: 2vw;
    margin-bottom: 1.6vw;
    color: #EAEAEA;
    text-align: center;
}
.mail-anel form{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.field{
    width: 100%;
}
.mail-anel input,
.mail-anel textarea{
    width: 100%;
    background:rgba(4,4,4,0.95);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 1vw;
    color: #EAEAEA;
    outline: none;
    transition: 0.25s;
    font-size: 1vw;
    font-family: inherit;
}
.mail-anel input{
    height: 3.7vw;
    padding-inline: 1.2vw;
}
.mail-anel textarea{
    height: 13vw;
    resize: none;
    padding: 1.2vw;
}
.mail-anel input::placeholder,
.mail-anel textarea::placeholder{
    color: rgba(234,234,234,0.35);
}
.mail-anel input:focus,
.mail-anel textarea:focus{
    border-color: rgba(240,45,6,0.8);
    box-shadow: 0 0 1vw rgba(240,45,6,0.2);
}
.mail-anel button{
    width: 100%;
    height: 3.9vw;
    border: none;
    border-radius: 1vw;
    background:#f02d06;
    color: #eaeaea;
    font-size: 1vw;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 0 1vw rgba(240,45,6,0.35),
    inset 0 1px 1px rgba(255,255,255,0.15);
}
.mail-anel button:hover{
    transform: translateY(-0.12vw);
    box-shadow: 0 0 1.5vw rgba(240,45,6,0.5);
}
.share-this{
    border-radius: 1.7vw;
    padding: 1vw 0.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}
.share-this a{
    font-size: 1vw;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 1vw;
    border: 1px solid rgba(255,255,255,0.15);;
    background: rgba(234, 234, 234, 0.168);
    transition: 0.25s;
    text-decoration: none;
    color: #eaeaea;
}
.share-this a:hover{
    transform: translateY(-0.3vw);
}
.share-this img{
    width: 5vw;
    height: 5vw;
    object-fit: contain;
}
.qartez{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.1fr 1.5fr;
    gap: 1vw;
    border: 0.15vw solid rgb(117,43,0);
    border-radius: 1.7vw;
    padding: 2.2vw;
    inset: 0 0 1vw rgba(255,255,255,0.03);
}
.qartez1{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1.5vw;
    overflow: hidden;
    box-shadow:0 0 2vw rgba(0,0,0,0.45);
}
.soc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
}
.soc h3{
    grid-column: 1 / span 3;
}
.soc a{
    font-size: 1vw;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 1vw;
    border: 1px solid rgba(255,255,255,0.15);;
    background: rgba(234, 234, 234, 0.168);
    transition: 0.25s;
    text-decoration: none;
    color: #eaeaea;
    padding: 0.6vw;
    gap: 0.5vw;
}
.soc a:hover{
    transform: translateY(-0.1vw);
    box-shadow:
    0 0 1vw rgba(240,45,6,0.25);
}
.taki-iconner{
    width: 4vw;
    height: 4vw;
    object-fit: cover;
    display: block;
    border-radius: 0.8vw;
}
.error{
    display: block;
    margin-top: 0.45vw;
    min-height: 0.8vw;
    color: #ff6868;
    font-size: 0.72vw;
}
footer{
    background-color: #181818;
    padding: 2vw 3%;
    font-family: "AtyanDsegh1";
}
.nerqev{
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    font-size: 0.8vw;
    color: #eaeaea;
}
@media (max-width: 768px){
    .gifik{
        display: none;
    }
    .esim{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .nerqev{
        font-size: 1.2vw;
    }
    nav ul li a img{
        margin-top: 0.5vw;
    }
}
@media (max-width:480px){
    .esim{
        justify-items: center;
    }
    .qarter{
        grid-template-columns: 1fr;
        width: 90%;
    }
    main section h2{
        font-size: 6vw;
    }
    #seter a{
       width: 90%; 
    }
    #seter{
        justify-items: center;
    }
    .arajin-set{
        background-image: url(./VITA/kofe\ set.jpg);
        background-size: cover;
        aspect-ratio: 100/100;
        border-radius: 1.5vw;
        border: 0.15vw solid rgb(117,43,0);
        padding: 2vw;
        transition: 0.3s ease;
        margin-bottom: 6vw;
    }
    .erkrord-set{
        background-image: url(./VITA/chay\ set.jpg);
        background-size: cover;
        aspect-ratio: 100/100;
        border-radius: 1.5vw;
        border: 2px solid rgb(117,43,0);
        padding: 2vw;
        transition: 0.3s ease;
    }
    .arajin-set div,
    .erkrord-set div,
    .vernagir{
        display: none;
    }
    .mer-masin1{
        width: 100%;
        justify-items: center;
        grid-template-columns: auto;
    }
    .taki-text{
        width: 80%;
    }
    .taki-qart{
        gap: 2vw;
        width: 80%;
    }
    .taki-text h3{
        font-size: 3vw;
    }
    .taki-text p{
        font-size: 2vw;
        text-align: center;
    }
    .taki-qart h3{
        font-size: 3vw;
    }
    .taki-qart h4{
        font-size: 4.5vw;
        transform: translateY(3vw);
    }
    .taki-qart p{
        font-size: 1.6vw;
    }
    #contact-us{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .mail-anel{
        grid-template-columns: 1fr;
        gap: 3vw;
    }
    .mail-anel1 input{
        width: 50vw;
        height: 4vw;
    }
    .mail-anel1 textarea{
        width: 50vw;
        height: 10vw;
    }
    .share-this{
        grid-template-columns: repeat(4, 1fr);
    }
    .qartez{
        justify-content: center;
    }
    #popup-content,
    #popup2-content{
        width: 50%;
    }
    #popup-content h2,
    #popup2-content h2{
        font-size: 3vw;
    }
    #popup-content p,
    #popup2-content p,
    #popup-content>div>div>button,
    #popup-content>div>p>button,
    #popup2-content>div>button{
        font-size: 2vw;
    }
    #popup2-content>div>button{
        width: 13vw;
        height: 4vw;
    }
    #popup-content>div>div>button{
        width: 16vw;
        height: 4vw;
    }
    #popup-content input{
        font-size: 2vw;
        height: 5vw;
    }
    #popup-content span,
    #popup2-content span{
        font-size: 3vw;
    }
    #popup-content div,
    #popup2-content div{
        gap: 1vw;
    }
    #popup-content h2,
    #popup2-content h2{
        font-size: 6vw;
    }
    nav ul li a img{
        margin-top: 0vw;
        width: 1.8vw;
    }
    .qartez,
    .mail-anel{
        width: 60%;
    }
    .ull button{
        display: none;
    }
    .ull{
        display: none;
        font-size: 2vw;
    }
    .ull li a{
        font-size: 1.7vw;
    }
    .ull.aktiv{
        display: flex;
    }
    #burger{
        display: block;
        cursor: pointer;
    }
    
}