@font-face {
    font-family: "AtyanDsegh";
    src: url("./font/Montserratarm-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AtyanDsegh1";
    src: url("./font/Montserratarm-Thin.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AtyanDsegh2";
    src: url("./font/Montserratarm-Light.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f0f0f;
    padding: 1.4vh 1.4vw 0 1.4vw;
}
.het-glavni{
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2vw;
    background-color: #252525;
}
.verev>a{
    color: #eaeaea;
    text-decoration: none;
}
.verev>h1{
    width: 95.5%;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
    color: #eaeaea;
    font-family: "AtyanDsegh1";
    padding-top: 5px;
}
.verev{
    display: flex;
    align-items: center;
}
.patuhan{
    display: grid;
    grid-template-columns: 1.35fr 0.65fr;
    gap: 3vw;
    margin: 1vw 0;
}
#obyektner{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1vw;
}
.qart{
    padding: 0.5vw;
    background: rgba(149, 149, 149, 0.3);
    border-radius: 1.5vw;
    height: 9vw;
    display: grid;
    grid-template-columns: 0.2fr 1.8fr 0.06fr;
    align-items: center;
    gap: 2vw;
}
.tvyalner{
    font-family:"AtyanDsegh";
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    row-gap: 0.5vw;
}
.tvyalner h2{
    color: #eaeaea;
    font-size: 2vw;
}
.tvyalner p{
    font-size: 1.2vw;
    color: #f02d06;
}
.pakel-btn{
    font-size: 1.5vw;
    color: #eaeaea;
    cursor: pointer;
}
.pakel{
    height: 100%;
}
.qanak{
    display: flex;
    align-items: center;
}
.qanak1{
    font-family: "AtyanDsegh2";
    font-size: 1.5vw;
    color: #eaeaea;
    width: 3.1vw;
    display: flex;
    justify-content: center;
}
.minus,
.plus{
    font-size: 1.7vw;
    background: none;
    border: none;
    color: #f02d06;
    cursor: pointer;
}
.nkar{
    border-radius: 1.2vw;
    width: 8vw;
    height: 8vw;
}
#panel{
    position: fixed;
    width: 30vw;
    border-radius: 1.5vw;
    background: rgba(149, 149, 149, 0.3);
    padding: 1vw;
    font-family: "atyanDsegh";
    font-size: 1vw;
    display: grid;
    gap: 1.5vw;
}
#patvirel{
    font-size: 1vw;
    cursor: pointer;
    margin-top: 1.1vw;
    width: 6.5vw;
    height: 2.2vw;
    border: 0.15vw solid #f02d06;
    border-radius: 999px;
    background: rgba(240,45,6,0.15);
    color: #eaeaea;
    transition: 0.2s ease;
    
}
#patvirel:hover{
    background: #f02d06;    
}
#patvirel:active{
    transform: scale(0.9);
}
#popup{
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.3);
    z-index: 5000;
    padding: 1.1vw;
}
#popup.cuyc{
    display: flex;
}
#popup-alert{
    width:25vw;
    padding: 1.1vw;
    border-radius: 1.1vw;
    background: rgba(24,24,24,0.56);
    box-shadow: 0 0 2rem 0.1rem black;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-family: "AtyanDsegh";
    color: #eaeaea;
}
#popup-alert img{
    width: 3vw;
    height: 3vw;
}
#gumar,
#yndhanur-qanak{
    font-size: 1.5vw;
}

@media(max-width: 480px){
    .het-glavni{
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
    }
    .patuhan{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 4vw;
    }
    #obyektner{
        grid-row: 2;
        gap: 2vw;
    }
    #panel{
        grid-row: 1;
        width: 70vw;
        padding: 1.5vw;
        font-size: 2.5vw;
        position: relative;
    }
    #gumar,
    #yndhanur-qanak{
        font-size: 2.5vw;
    }
    #patvirel{
        width: 14vw;
        height: 5vw;
        font-size: 2vw;
    }
    .qart{
        height: 100%;
        width: 90vw;
        grid-template-columns: 0.2fr 1.8fr 0.08fr;
    }
    .nkar{
        height: 14vw;
        width: 14vw;
    }
    .tvyalner h2,
    .tvyalner p,
    .minus,
    .plus{
        font-size: 3vw;
    }
}